<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Excel_Macros_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Excel_Macros_UI.Properties.Settings>
            <setting name="AvalonLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="SyntaxStyle" serializeAs="String">
                <value>#202020;#57a64a;#ff22ff;#569cd6;#4ec9b0;#70b0e0;#404040;#569cd6;</value>
            </setting>
            <setting name="EditorShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="EditorFontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="EditorFontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Excel_Macros_UI.Properties.Settings>
    </userSettings>
</configuration>